<!DOCTYPE html>
<html>
  <head>
    <title>Issue kidding me</title>
    <link rel="stylesheet" href="main.css">
  <body>
  </style>
  <h1>Git had a cold so I gave it a issue</h1>
  <h2>Is shu open? || Is shu closed?</h2>
<p> if you want to reopen push reopen button</p>
<p> if you want to close push close button </p>
<ul>
  <%issues.each do |issue|%>
        <% if issue[:state] == "closed"
             response = "reopen"
           else
             response = "close"
           end
        %>
        <form action="/issue/<%= response %>/<%= issue[:id] %>" method="post">
        <li>
          <p>
            Issue #<%= issue[:id] %>: <a href="<%= issue[:url] %>"><%= issue[:title] %></a>
          </p>
          <p>
            Status: <%= issue[:state].capitalize %> <input type="Submit" class="<%= response %>" value="<%= response.capitalize %>">
          </p>
        </li>
        </form>
    <% end %>
  </ul>

</body>
</head>
</html>
























